extends layouts/default
include helpers/mixins

block variables
  - const title = "Index"

block content
  div.flex.justify-center.items-center.flex-col(class='min-h-screen w-full dark:bg-black dark:text-white')
    h1.font-semibold.text-4xl Toggle Dark/Light
    button.js-toggle-dark-mode.btn Toggle Dark Mode
    .test(class="absolute w-[400px] h-[50vh] top-[-125px] right-[62px] md:top-[100px] md:right-[20%] bg-indigo-500 dark:bg-indigo-50")
block scripts
  script(src="js/vendor/test.js")
  script(src="js/main.js")
