extends layouts/default
include helpers/mixins
include ../blocks/components/button/button

block variables
  - const title = "Index"

block content
  .p-styleguide
    .l-sidebar
      button.js-toggle-dark-mode.btn.btn-primary.mb-4 Toggle Dark Mode
      a.t-link(href="#styleguide-button") Button
    .l-content
      .l-banner
        h1 Toggle Dark/Light
        button.js-toggle-dark-mode.btn.btn-primary Toggle Dark Mode
      .l-section
        h3#styleguide-button Buttons
        .l-block
          - var listBtn = ['primary','secondary','success','info','warning', 'danger', 'light', 'dark']
          each i in listBtn
            button(class=`btn btn-${i}` type="button")
              span=i
        .l-block.items-center
          button.btn.btn-lg.btn-primary
              span Button Lg
          button.btn.btn-primary
              span Button Default
          button.btn.btn-sm.btn-primary
              span Button Sm
block scripts
  script(src="js/vendor/test.js")
  script(src="js/main.js")
